.difficultySliderBox {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff6633;
  border-radius: 10px;
}

.difficultyLabel {
  margin: 0;
  padding: 0 18px;
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  color: #ff6633;
  background: none;
  border: 0;
}

.difficultyLabelFirst {
  padding: 0 12px 0 18px;
}

.difficultyLabelLast {
  padding: 0 18px 0 12px;
}

.sliderInput {
  margin: 0;
  padding: 0;
  width: 75px;
  height: 24px;
  display: flex;
  position: relative;
  cursor: pointer;
}

.sliderInputControl {
  position: absolute;
  width: 12px;
  height: 22px;
  border-radius: 4px;
  top: 0;
  border: 1px solid white;
  transition: all 0.2s ease-out;
  z-index: 6;
}

.sliderBg {
  position: absolute;
  margin: 10px 0;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 194, 173, 1) 30%, rgba(255, 102, 51, 1) 100%);
  z-index: 0;
}

.sliderCircle {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 1;
}

.sliderCircle1 {
  left: 0;
  top: 50%;
  background-color: rgb(255, 194, 173);
  transform: translateY(-50%);
}

.sliderCircle2 {
  left: 50%;
  top: 50%;
  background-color: rgb(255, 148, 112);
  transform: translate(-50%, -50%);
}

.sliderCircle3 {
  left: 100%;
  top: 50%;
  background-color: rgb(255, 102, 51);
  transform: translate(-100%, -50%);
}

.sliderValue1,
.sliderValue2,
.sliderValue3 {
  position: absolute;
  width: 33.3%;
  height: 24px;
  z-index: 5;
}

.sliderValue1 {
  top: 0;
  left: 0;
}

.sliderValue2 {
  top: 0;
  left: 33.3%;
}

.sliderValue3 {
  top: 0;
  left: 66.6%;
}

@media (max-width: 420px) and (orientation: portrait) {
  .difficultyLabel {
    line-height: 22px;
    font-size: 14px;
  }

  .difficultyLabelFirst {
    padding: 0 8px 0 10px;
  }

  .difficultyLabelLast {
    padding: 0 10px 0 8px;
  }
}

@media (min-width: 767px) and (orientation: portrait) {
  .difficultyLabel {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
  }

  .difficultyLabelFirst {
    padding: 0 18px;
  }

  .difficultyLabelLast {
    padding: 0 18px;
  }

  .sliderInput {
    width: 120px;
    height: 36px;
  }

  .sliderInputControl {
    width: 14px;
    height: 36px;
  }

  .sliderBg {
    margin: 15px 0;
    height: 6px;
  }

  .sliderCircle {
    width: 12px;
    height: 12px;
  }

  .sliderValue1,
  .sliderValue2,
  .sliderValue3 {
    height: 36px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .difficultyLabel {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
  }

  .difficultyLabelFirst {
    padding: 0 18px;
  }

  .difficultyLabelLast {
    padding: 0 18px;
  }

  .sliderInput {
    width: 120px;
    height: 36px;
  }

  .sliderInputControl {
    width: 14px;
    height: 36px;
  }

  .sliderBg {
    margin: 15px 0;
    height: 6px;
  }

  .sliderCircle {
    width: 12px;
    height: 12px;
  }

  .sliderValue1,
  .sliderValue2,
  .sliderValue3 {
    height: 36px;
  }
}

@media (hover: hover) and (pointer: fine) {

  .sliderValue1:hover+.sliderCircle1,
  .sliderValue2:hover+.sliderCircle2,
  .sliderValue3:hover+.sliderCircle3 {
    background: red;
  }

  .difficultyLabel:hover,
  .sliderValue1:hover,
  .sliderValue2:hover,
  .sliderValue3:hover {
    cursor: pointer;
  }
}