.modeCardsManager {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 56px 0;
  width: 100%;
}

@media (min-width: 767px) and (orientation: portrait) {
  .modeCardsManager {
    padding: 0 12px 24px 12px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .modeCardsManager {
    padding: 0 12px 24px 12px;
  }
}

@media (min-width: 1500px) and (orientation: landscape) {
  .modeCardsManager {
    padding: 0 12px 24px 12px;
  }
}
