.modeExpandedBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(100%);
  transition: all 0.25s ease-in;
  background: #f5fffa; 
  z-index: 5;
}

.modeImage {
  position: relative;
  top: -1px;
  width: 100%;
  height: calc((100vw / 1.77) * 1.1);
  background-image: var(--bg-sm);
  background-repeat: no-repeat;
  background-color: sandybrown;
  background-size: cover;
  background-position: center;
  transition: all 0.25s ease-in;
}

.homeIcon {
  position: absolute;
  top: calc(5vh - 5px);
  top: calc(var(--vh, 1vh) * 5 - 5px);
  left: 7vw;
  margin: 0;
  padding: 5px 6px;
  width: 48px;
  height: 48px;
  z-index: 10;
  color: #48d1cc;
  border: 0.5px solid #48d1cc;
  border-radius: 20%;
}

:global(.ios-safari-zoomed.zoom-1) .homeIcon {
  padding: 3px 4px;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
}

:global(.ios-safari-zoomed.zoom-2) .homeIcon {
  padding: 2px 3px;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 30px;
}

:global(.ios-safari-zoomed.zoom-3) .homeIcon {
  padding: 1px 2px;
  width: 20px;
  height: 20px;
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.modeTitle {
  margin: 5vh 0 4vh 0;
  margin-top: calc(var(--vh, 1vh) * 5);
  margin-bottom: calc(var(--vh, 1vh) * 4);
  padding: 0 0 0 5vh;
  padding-left: calc(var(--vh, 1vh) * 5);
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #48d1cc;
  user-select: none;
}

:global(.ios-safari-zoomed.zoom-1) .modeTitle {
  margin-top: 5dvh;
  font-size: 28px;
}

:global(.ios-safari-zoomed.zoom-2) .modeTitle {
  margin-top: 6dvh;
  font-size: 22px;
}

:global(.ios-safari-zoomed.zoom-3) .modeTitle {
  margin-top: 3dvh;
  padding-left: 20px;
  font-size: 16px;
}

@keyframes zoomOut {
  from {transform: scale(4);}
  to {transform: scale(2);}
}

.timer {
  margin: 0;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: #48d1cc;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: zoomOut;
  animation-duration: 1.00s;
  animation-iteration-count: 4;
  user-select: none;
}

:global(.ios-safari-zoomed.zoom-1) .timer {
  font-size: 28px;
}

:global(.ios-safari-zoomed.zoom-2) .timer {
  font-size: 23px;
}

:global(.ios-safari-zoomed.zoom-3) .timer {
  font-size: 18px;
}

.modeDescription {
  margin: 0 0 12% 0;
  padding: 0 9%;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: justify;
  color: #ff6633;
  user-select: none;
}

:global(.ios-safari-zoomed.zoom-1) .modeDescription {
  padding: 0 4dvw;
  font-size: 15px;
  line-height: 30px;
}

:global(.ios-safari-zoomed.zoom-2) .modeDescription {
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
}

:global(.ios-safari-zoomed.zoom-3) .modeDescription {
  padding: 0 4px;
  font-size: 10px;
  line-height: 16px;
}

.modeDescriptionClassic {
  padding: 0 12%;
}

.controlsBox {
  margin: 0;
  padding: 0 8% 10vh 8%;
  padding-bottom: calc(var(--vh, 1vh) * 10);
  display: flex;
}

:global(.ios-safari-zoomed.zoom-1) .controlsBox {
  padding: 0 4dvw;
}

:global(.ios-safari-zoomed.zoom-2) .controlsBox {
  padding: 0 4px;
}

:global(.ios-safari-zoomed.zoom-3) .controlsBox {
  padding: 0 4px;
}

.modePlayButton {
  margin: 0;
  padding: 0;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #48d1cc;
  border: 1px solid #48d1cc;
}

:global(.ios-safari-zoomed.zoom-1) .modePlayButton {
  width: 90px;
  height: 42px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 42px;
}

:global(.ios-safari-zoomed.zoom-2) .modePlayButton {
  width: 68px;
  height: 34px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 34px;
}

:global(.ios-safari-zoomed.zoom-3) .modePlayButton {
  width: 45px;
  height: 24px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 24px;
}


.modePlayIcon {
  width: 20px;
  height: 20px;
  margin: 0 0 0 6px;
  color: white;  
}

:global(.ios-safari-zoomed) .modePlayIcon {
  margin: 0 0 0 2px;
}

@media (min-width: 600px) and (orientation: portrait) {
  .modeImage {
    background-image: var(--bg-md);
  }
}

@media (min-height: 330px) and (orientation: landscape) {
  .modeImage {
    background-image: var(--bg-md);
  }
}

@media (min-height: 505px) and (orientation: landscape) {
  .modeImage {
    background-image: var(--bg-lg);
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .modeImage {
    background-image: var(--bg-lg);
  }
}

@media (min-width: 1000px) {
  .modeImage {
    background-image: var(--bg-lg);
  }
}

@media (min-width: 767px) and (orientation: portrait) {
  .modeImage {
    height: calc(100vw / 1.77 * 0.85);
  }
  .layout {
    justify-content: flex-start;
  }
  .homeIcon {
    top: 6vh;
    top: calc(var(--vh, 1vh) * 6);
    padding: 6px 8px;
    width: 45px;
    height: 45px;
  }
  .modeTitle {
    margin: 5vh 0 5vh 0;
    margin-top: calc(var(--vh, 1vh) * 6);
    margin-bottom: calc(var(--vh, 1vh) * 5);
    font-size: 40px;
  }
  .modeDescription {
    margin-bottom: 8%;
    padding-top: 5%;
    font-size: 24px;
    line-height: 52px;
  }
  .modePlayButton {
    width: 200px;
    font-size: 22px;
  }
  .controlsBox {
    padding: 0 8%;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  .Story {
    background-position: 75% 25%;
  }
  .Song {
    background-position: center 25%;
  }
}

@media (min-width: 767px) and (max-width: 819px) and (orientation: portrait) {
  .modeDescription {
    padding-top: 0;
  }
}

@media (max-width: 999px) and (orientation: landscape) {
  .modeExpandedBox {
    flex-direction: row;
  }
  .homeIcon {
    top: calc(7vh - 5px);
    top: calc(var(--vh, 1vh) * 7 - 5px);
    left: 4vw;
    padding: 4px 5px;
    width: 40px;
    height: 40px;
  }
  .modeImage {
    width: 40%;
    height: 101vh;
    height: calc(var(--vh, 1vh) * 101);
  }
  .Story {
    background-position: 60% center;
  }
  .Song {
    background-position: 75% center;
  }
  .layout {
    justify-content: flex-start;
  }
  .modeTitle {
    margin: 7vh 0 4vh 0;
    margin-top: calc(var(--vh, 1vh) * 7);
    margin-bottom: calc(var(--vh, 1vh) * 5);
    padding: 0 0 0 10vh;
    padding-left: calc(var(--vh, 1vh) * 10);
    font-size: 30px;
  }
  .modeDescription {
    margin: 0;
    padding: 3% 5% 4% 5%;
    font-size: 17px;
    line-height: 34px;
  }
  .modeDescriptionClassic {
    padding: 3% 7% 4% 7%;
  }
  .controlsBox {
    position: absolute;
    padding: 0 8%;
    width: 100%;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .modeTitle {
    font-size: 28px;
  }
  .modeDescription {
    line-height: 26px;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  .modeTitle {
    font-size: 28px;
  }
  .modeDescription {
    line-height: 26px;
    overflow: scroll;
    max-height: 47vh;
    max-height: calc(var(--vh, 1vh) * 47);
  }
  .controlsBox {
    bottom: 34px;
  }
  :global(.ios-safari-zoomed.zoom-1) .controlsBox {
    bottom: 10px;
  }
  :global(.ios-safari-zoomed.zoom-2) .controlsBox {
    bottom: 8px;
  }
  :global(.ios-safari-zoomed.zoom-3) .controlsBox {
    bottom: 4px;
  }
  :global(.ios-safari-zoomed.zoom-1) .homeIcon {
    top: 10px;
  }
  :global(.ios-safari-zoomed.zoom-2) .homeIcon {
    top: 10px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .modeImage {
    margin: 4vw 10vw 0 10vw;
    width: 80vw;
    height: calc(80vw / 1.77);
    border-radius: 20px;
  }
  .Classic {
    background-position: center 25%;
  }
  .Story {
    background-position: center 25%;
  }
  .Song {
    background-position: center 30%;
  }
  .layout {
    justify-content: flex-start;
  }
  .homeIcon {
    top: 6vh;
    top: calc(var(--vh, 1vh) * 6);
    left: 10vw;
  }
  .modeTitle {
    margin: 6vh 0 4vh 0;
    margin-top: calc(var(--vh, 1vh) * 6);
    margin-bottom: calc(var(--vh, 1vh) * 4);
    font-size: 40px;
  }
  .modeDescription {
    margin: 0 0 4% 0;
    padding: 0 18%;
    font-size: 22px;
    line-height: 46px;
  }
  .modeDescriptionClassic {
    padding: 0 24%;
  }
  .modePlayButton {
    width: 200px;
    font-size: 20px;
  }
  .controlsBox {
    padding: 0 10vw 7vh 10vw;
    padding-bottom: calc(var(--vh, 1vh) * 7);
  }
}

@media (min-width: 1380px) and (orientation: landscape) {
  .modeImage {
    margin: 2vw 15vw 0 15vw;
    width: 70vw;
    height: calc(70vw / 1.77);
    border-radius: 20px;
  }
  .Classic {
    background-position: center 30%;
  }
  .Story {
    background-position: center 40%;
  }
  .homeIcon {
    top: 4vh;
    top: calc(var(--vh, 1vh) * 4);
    left: 15vw;
  }
  .modeTitle {
    margin: 4vh 0;
    margin: calc(var(--vh, 1vh) * 4) 0;
    font-size: 40px;
  }
  .modeDescription {
    margin: 0 0 3% 0;
    padding: 0 22%;
  }
  .modeDescriptionClassic {
    padding: 0 28%;
  }
  .controlsBox {
    padding: 0 15vw 5vh 15vw;
    padding-bottom: calc(var(--vh, 1vh) * 5);
  }
}

@media (hover: hover) and (pointer: fine) {
  .homeIcon:hover {
    cursor: pointer;
    color: #48d1cc99;
    transition: all 0.1s ease-in-out;
  }
  .modePlayButton:hover {
    cursor: pointer;
    color: #48d1cc;
    background-color: #f5fffa;
  }
  .modePlayButton:hover svg {
    color: #48d1cc;
  }
}
