.movieSlideBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #f5fffa;
  z-index: 5;
  transition: background-color 0.1s ease-in;
}

.controlButtonsBox {
  position: relative;
  width: 100vw;
  height: 32vh;
  height: calc(var(--vh, 1vh) * 32);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.controlButton {
  position: relative;
  width: 115px;
  height: 90px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stopButton {
  border: 0;
  background: rgba(255, 215, 0, .75);
}

.passButton {
  border: 0.5px solid rgb(72, 209, 204);
  margin: 0;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

.failButton {
  border: 0.5px solid rgb(209, 72, 77);
  margin: 0;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
}

.hasLabel {
  flex-direction: column;
}

.failLabel,
.endLabel,
.passLabel {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 500;
  opacity: 0.7;
}

.stopControlIcon {
  margin: 0 0 6px 0;
  padding: 0;
  width: 34px;
  height: 34px;
  color: #323232;
}

.endLabel {
  color: #323232;
}

.passControlIcon {
  margin: 0 0 6px 0;
  padding: 0;
  width: 33px;
  height: 33px;
  color: #48d1cc;
}

.passLabel {
  color: #48d1cc;
}

.failControlIcon {
  margin: 0 0 6px 0;
  padding: 0;
  width: 28px;
  height: 28px;
  color: #d1484d;
}

.failLabel {
  color: #d1484d;
}

@media (max-width: 999px) and (orientation: landscape) {
  .controlButtonsBox {
    height: 32vh;
    height: calc(var(--vh, 1vh) * 32);
  }
  .controlButton {
    width: 20vh;
    width: calc(var(--vh, 1vh) * 20);
    height: 16vh;
    height: calc(var(--vh, 1vh) * 16);
    top: 0;
  }
  .stopControlIcon,
  .passControlIcon,
  .failControlIcon {
    margin: 0;
  }
  .stopControlIcon {
    width: 5vh;
    width: calc(var(--vh, 1vh) * 5);
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
  }
  .passControlIcon {
    width: calc(5vh - 1px);
    width: calc(var(--vh, 1vh) * 5 - 1px);
    height: calc(5vh - 1px);
    height: calc(var(--vh, 1vh) * 5 - 1px);
  }
  .failControlIcon {
    width: calc(5vh - 4px);
    width: calc(var(--vh, 1vh) * 5 - 4px);
    height: calc(5vh - 4px);
    height: calc(var(--vh, 1vh) * 5 - 4px);
  }
  .failLabel,
  .endLabel,
  .passLabel {
    font-size: 13px;
  }
}

@media (max-height: 700px) and (orientation: portrait) {
  .controlButtonsBox {
    height: 36vh;
    height: calc(var(--vh, 1vh) * 36);
  }
  .controlButton {
    width: 100px;
    height: 80px;
  }
}

@media (min-width: 767px) and (orientation: portrait) {
  .controlButton {
    width: 125px;
    height: 100px;
  }
  .stopControlIcon {
    width: 40px;
    height: 40px;
  }
  .passControlIcon {
    width: 39px;
    height: 39px;
  }
  .failControlIcon {
    width: 34px;
    height: 34px;
  }
}

@media (min-width: 1300px) and (orientation: landscape) {
  .controlButton {
    width: 135px;
    height: 110px;
  }
  .stopControlIcon {
    width: 40px;
    height: 40px;
  }
  .passControlIcon {
    width: 39px;
    height: 39px;
  }
  .failControlIcon {
    width: 34px;
    height: 34px;
  }
  .failLabel,
  .endLabel,
  .passLabel {
    font-size: 15px;
  }
}

@media (min-width: 1450px) and (orientation: landscape) {  
  .controlButtonsBox {
    height: 40vh;
    height: calc(var(--vh, 1vh) * 40);
  }
}

@media (hover: hover) and (pointer: fine) {
  .controlButton:hover {
    cursor: pointer;
  }
  .stopButton:hover {
    opacity: 0.6;
  }
  .passButton:hover {
    background: rgb(72,209,204);
    .passLabel {
      color: white;
    }
  }
  .passButton:hover svg,
  .failButton:hover svg {
    color: white;
  }
  .failButton:hover {
    background: rgb(209,72,77);
    .failLabel {
      color: white;
    }
  }
}
