.homeIcon {
  position: absolute;
  margin: 0;
  padding: 3px 4px;
  width: 40px;
  height: 40px;
  top: calc(3vh - 3px);
  top: calc(var(--vh, 1vh) * 3 - 3px);
  left: 5vw;
  color: #3f3f3f;
  border: 0.5px solid #3f3f3f;
  border-radius: 20%;
}

:global(.ios-safari-zoomed.zoom-1) .homeIcon {
  width: 34px;
  height: 34px;
  top: 7px;
  left: 7px;
  padding: 3px;
}

:global(.ios-safari-zoomed.zoom-2) .homeIcon {
  width: 27px;
  height: 27px;
  top: 6px;
  left: 6px;
  padding: 2px;  
}

:global(.ios-safari-zoomed.zoom-3) .homeIcon {
  width: 20px;
  height: 20px;
  top: 5px;
  left: 5px;
  padding: 1px;
}

.timer {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #3f3f3f;
  font-weight: 400;
  top: calc(3vh + 12px);
  top: calc(var(--vh, 1vh) * 3 + 12px);
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}

:global(.ios-safari-zoomed.zoom-1) .timer {
  top: 11px;
  font-size: 14px;
}

:global(.ios-safari-zoomed.zoom-2) .timer {
  top: 9px;
  font-size: 12px;
}

:global(.ios-safari-zoomed.zoom-3) .timer {
  top: 7px;
  font-size: 10px;
}

.timerUrgent {
  color: #d1484d;
  font-weight: 600;
}

.timerBlink {
  animation: timerBlinkPulse 1s infinite;
}

@keyframes timerBlinkPulse {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.starBox {
  position: absolute;
  margin: 0;
  padding: 2px 12px 2px 9px;
  top: 3vh;
  top: calc(var(--vh, 1vh) * 3);
  right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #3f3f3f;
  border-radius: 25px;
}

:global(.ios-safari-zoomed.zoom-1) .starBox {
  top: 7px;
  right: 7px;
  padding: 3px;
}

:global(.ios-safari-zoomed.zoom-2) .starBox {
  top: 6px;
  right: 6px;
  padding: 2px;
}

:global(.ios-safari-zoomed.zoom-3) .starBox {
  top: 5px;
  right: 5px;
  padding: 1px;
}

.starIcon {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  background: url('/star.webp') no-repeat;
  background-position: center;
  background-size: cover;
}

:global(.ios-safari-zoomed.zoom-1) .starIcon {
  width: 28px;
  height: 28px;
}

:global(.ios-safari-zoomed.zoom-2) .starIcon {
  width: 22px;
  height: 22px;
}

:global(.ios-safari-zoomed.zoom-3) .starIcon {
  width: 18px;
  height: 18px;
}

.starCount {
  margin: 0;
  padding: 2px 0 0 3px;
  width: 28px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #3f3f3f;
  text-align: center;
  user-select: none;
}

:global(.ios-safari-zoomed.zoom-1) .starCount {
  padding: 0 0 0 3px;
  font-size: 14px;
  width: 24px;
}

:global(.ios-safari-zoomed.zoom-2) .starCount {
  padding: 0 0 0 2px;
  font-size: 12px;
  width: 21px;
}

:global(.ios-safari-zoomed.zoom-3) .starCount {
  padding: 0 0 0 1px;
  font-size: 10px;
  width: 18px;
}


@media (max-width: 999px) and (orientation: landscape) {
  .homeIcon {
    width: 33px;
    height: 33px;
    top: 5vh;
    top: calc(var(--vh, 1vh) * 5);
  }
  .timer {
    top: calc(5vh + 3px);
    top: calc(var(--vh, 1vh) * 5 + 3px);
  }
  .starBox {
    padding: 1px 12px 1px 9px;
    top: calc(5vh - 2px);
    top: calc(var(--vh, 1vh) * 5 - 2px);
  }
  .starIcon {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1120px) and (orientation: landscape) {
  .homeIcon {
    left: 10vw;
  }
  .starBox {
    right: 10vw;
  }
}

@media (min-width: 1450px) and (orientation: landscape) {
  .homeIcon {
    top: 4vh;
    top: calc(var(--vh, 1vh) * 4);
    left: 15vw;
  }
  .timer {
    top: calc(4vh + 10px);
    top: calc(var(--vh, 1vh) * 4 + 10px);
  }
  .starBox {
    top: calc(4vh - 2px);
    top: calc(var(--vh, 1vh) * 4 - 2px);
    right: 15vw;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  .homeIcon {
    left: 2vw;
  }
  .starBox {
    right: 2vw;
  }
}

@media (hover: hover) and (pointer: fine) {
  .homeIcon:hover {
    cursor: pointer;
    color: #3f3f3f99;
  }
}
