.resultsSlideBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(110%);
  transition: all 0.25s ease-in;
  background: #ff6633;
  z-index: 10;
}

.supportLink {
  z-index: 1;
  margin: 0 0 12px 12px;
  padding: 8px 12px;
  background: white;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

:global(.ios-safari-zoomed.zoom-1) .supportLink {
  margin: 0 0 9px 0;
  padding: 2px 0;
  border-radius: 6px;
  font-size: 12px;
  width: 100%;
}
:global(.ios-safari-zoomed.zoom-2) .supportLink {
  margin: 0 0 7px 0;
  padding: 2px 0;
  border-radius: 5px;
  font-size: 10px;
  width: 100%;
}
:global(.ios-safari-zoomed.zoom-3) .supportLink {
  margin: 0 0 4px 0;
  padding: 2px 0;
  border-radius: 4px;
  font-size: 8px;
  width: 100%;
}
.shareButton {
  z-index: 1;
  margin: 0 0 12px 0;
  padding: 8px 12px;
  background: #FFE600;
  border: 0;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

:global(.ios-safari-zoomed.zoom-1) .shareButton {
  margin: 0 0 9px 0;
  padding: 2px 0;
  border-radius: 6px;
  font-size: 12px;
}
:global(.ios-safari-zoomed.zoom-2) .shareButton {
  margin: 0 0 7px 0;
  padding: 2px 0;
  border-radius: 5px;
  font-size: 10px;
}
:global(.ios-safari-zoomed.zoom-3) .shareButton {
  margin: 0 0 4px 0;
  padding: 2px 0;
  border-radius: 4px;
  font-size: 8px;
}

.scoreboard {
  position: relative;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
  color: white;
}

.starIconLeft {
  position: absolute;
  top: 0;
  left: 32%;
  width: 50px;
  height: 50px;
  transform: translate(-100%, 60%) rotate(-30deg);
  opacity: 0.2;
  transition: width 0.2s ease-out, height 0.2s ease-out;
  background: url('/star.webp') no-repeat;
  background-position: center;
  background-size: cover;
}

.starIconMid {
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%);
  opacity: 0.2;
  transition: width 0.2s ease-out, height 0.2s ease-out;
  background: url('/star.webp') no-repeat;
  background-position: center;
  background-size: cover;
}

.starIconRight {
  position: absolute;
  top: 0;
  left: 68%;
  width: 50px;
  height: 50px;
  transform: translateY(60%) rotate(30deg);
  opacity: 0.2;
  transition: width 0.2s ease-out, height 0.2s ease-out;
  background: url('/star.webp') no-repeat;
  background-position: center;
  background-size: cover;
}

.starsCount {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 65px;
  color: white;
  user-select: none;
}

.totalCount {
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 24px;
  line-height: 35px;
  color: white;
  user-select: none;
}

.timeBoard {
  position: relative;
  margin: 5vh auto 0 auto;
  margin-top: calc(var(--vh, 1vh) * 5);
  padding: 0;
  width: 70vw;
  height: 80px;
  max-width: 500px;
  z-index: 5;
  color: white;
}

.totalKey {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: white;
  user-select: none;
}

.totalValue {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: white;
  user-select: none;
}

.AverageKey {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: white;
  user-select: none;
}

:global(.ios-safari-zoomed.zoom-1) .AverageKey,
:global(.ios-safari-zoomed.zoom-1) .totalKey {
  font-size: 14px;
  line-height: 17px;
}

:global(.ios-safari-zoomed.zoom-2) .AverageKey,
:global(.ios-safari-zoomed.zoom-2) .totalKey {
  font-size: 12px;
  line-height: 15px;
}

:global(.ios-safari-zoomed.zoom-3) .AverageKey,
:global(.ios-safari-zoomed.zoom-3) .totalKey {
  font-size: 10px;
  line-height: 13px;
}

.AverageValue {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: white;
  user-select: none;
}

:global(.ios-safari-zoomed.zoom-1) .AverageValue,
:global(.ios-safari-zoomed.zoom-1) .totalValue {
  font-size: 13px;
  line-height: 16px;
}

:global(.ios-safari-zoomed.zoom-2) .AverageValue,
:global(.ios-safari-zoomed.zoom-2) .totalValue {
  font-size: 11px;
  line-height: 14px;
}

:global(.ios-safari-zoomed.zoom-3) .AverageValue,
:global(.ios-safari-zoomed.zoom-3) .totalValue {
  font-size: 9px;
  line-height: 13px;
}

.continueButton {
  position: relative;
  margin: 8vh 0 0 0;
  margin-top: calc(var(--vh, 1vh) * 8);
  padding: 0;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #48d1cc;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #48d1cc;
  z-index: 5;
  color: white;
}

:global(.ios-safari-zoomed.zoom-1) .continueButton {
  font-size: 15px;
  width: 134px;
  height: 43px;
}
:global(.ios-safari-zoomed.zoom-2) .continueButton {
  font-size: 13px;
  width: 118px;
  height: 36px;
}
:global(.ios-safari-zoomed.zoom-3) .continueButton {
  width: 100px;
  height: 30px;
  font-size: 11px;
}

.socialButtonBox {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.orangeBg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  height: calc(var(--vh, 1vh) * 75);
  z-index: 1;
  background: linear-gradient(195deg, rgba(255, 102, 51,1) 70%, rgba(253,208,45,0) 100%);;
}

.patternBg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  height: calc(var(--vh, 1vh) * 75);
  z-index: 0;
  --s: 40px; /* control the size */
  --c: #ff6633;
  
  --_g: 
    #0000 calc(-650%/13) calc(50%/13),var(--c) 0 calc(100%/13),
    #0000 0 calc(150%/13),var(--c) 0 calc(200%/13),
    #0000 0 calc(250%/13),var(--c) 0 calc(300%/13);
  --_g0: repeating-linear-gradient( 45deg,var(--_g));
  --_g1: repeating-linear-gradient(-45deg,var(--_g));
  background:
    var(--_g0),var(--_g0) var(--s) var(--s),
    var(--_g1),var(--_g1) var(--s) var(--s) #ff835a;
  background-size: calc(2*var(--s)) calc(2*var(--s));
}

@media (max-height: 500px) and (orientation: landscape) {
  .scoreboard {
    height: 170px;
  }
  .timeBoard {
    height: 70px;
  }
  .starsCount {
    font-size: 40px;
    line-height: 50px;
  }
  .continueButton {
    margin: 4px 0 0 0;
  }
  .timeBoard {
    margin: 4px auto 0 auto;
  }
  .socialButtonBox {
    justify-content: space-between;
  }
  .supportLink {
    font-size: 13px;
  }
}

@media (max-height: 360px) and (orientation: landscape) {
  .scoreboard {
    height: 148px;
  }
  .timeBoard {
    height: 62px;
  }
  .starsCount {
    font-size: 36px;
    line-height: 42px;
  }
  .totalCount {
    font-size: 18px;
    line-height: 22px;
  }
  .continueButton {
    margin: 2px 0 0 0;
  }
  .timeBoard {
    margin: 2px auto 0 auto;
  }
}

@media (max-width: 420px) and (orientation: portrait) {
  :global(.ios-safari-zoomed.zoom-1) .scoreboard {
    transform: scale(0.8);
  }
  :global(.ios-safari-zoomed.zoom-2) .scoreboard {
    transform: scale(0.6);
  }
  :global(.ios-safari-zoomed.zoom-3) .scoreboard {
    transform: scale(0.4);
  }
  .socialButtonBox {
    flex-direction: column;
    text-align: center;
    width: 280px;
    position: static;
    margin: 24px 0 0 0;
  }
  :global(.ios-safari-zoomed.zoom-1) .socialButtonBox {
    margin: 12px 0 0 0;
    padding: 0 3%;
    width: 100%;
  }
  :global(.ios-safari-zoomed.zoom-2) .socialButtonBox {
    margin: 8px 0 0 0;
    padding: 0 3%;
    width: 100%;
  }
  :global(.ios-safari-zoomed.zoom-3) .socialButtonBox {
    margin: 3px 0 0 0;
    padding: 0 3%;
    width: 100%;
  }
  :global(.ios-safari-zoomed) .timeBoard {
    width: 94dvw;
    margin-top: 0;
    height: 50px;
  }
  .shareButton {
    margin: 0 0 12px 0;
  }
  .supportLink {
    margin: 0 0 12px 0;
    width: 100%;
    text-align: center;
  }
}

@media (hover: hover) and (pointer: fine) {
  .continueButton:hover {
    cursor: pointer;
    color: #48d1cc;
    background-color: white;
  }
  .supportLink:hover,
  .shareButton:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
